Cliente/ClienteASP/Service References/Usuario/Usuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModeloWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModeloWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModeloUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nivelAcceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloUsuario" nillable="true" type="tns:ModeloUsuario" />
  <xs:complexType name="ArrayOfModeloUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloUsuario" nillable="true" type="tns:ModeloUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloUsuario" nillable="true" type="tns:ArrayOfModeloUsuario" />
</xs:schema>