Cliente/ClienteASP/Service References/Usuario/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4367/Usuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4367/Usuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4367/Usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUsuario_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_ObtenerTodosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuario_ObtenerTodosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_ObtenerUsuariosConElNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosConElNombre" />
  </wsdl:message>
  <wsdl:message name="IUsuario_ObtenerUsuariosConElNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosConElNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_ObtenerUsuariosConElApellido_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosConElApellido" />
  </wsdl:message>
  <wsdl:message name="IUsuario_ObtenerUsuariosConElApellido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosConElApellidoResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_insertarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_insertarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_buscarUsuarioPorNombreUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuarioPorNombreUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_buscarUsuarioPorNombreUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuarioPorNombreUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/Login" message="tns:IUsuario_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/LoginResponse" message="tns:IUsuario_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/ObtenerTodosUsuarios" message="tns:IUsuario_ObtenerTodosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/ObtenerTodosUsuariosResponse" message="tns:IUsuario_ObtenerTodosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosConElNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/ObtenerUsuariosConElNombre" message="tns:IUsuario_ObtenerUsuariosConElNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/ObtenerUsuariosConElNombreResponse" message="tns:IUsuario_ObtenerUsuariosConElNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosConElApellido">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/ObtenerUsuariosConElApellido" message="tns:IUsuario_ObtenerUsuariosConElApellido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/ObtenerUsuariosConElApellidoResponse" message="tns:IUsuario_ObtenerUsuariosConElApellido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/insertarUsuario" message="tns:IUsuario_insertarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/insertarUsuarioResponse" message="tns:IUsuario_insertarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPorNombreUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/buscarUsuarioPorNombreUsuario" message="tns:IUsuario_buscarUsuarioPorNombreUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/buscarUsuarioPorNombreUsuarioResponse" message="tns:IUsuario_buscarUsuarioPorNombreUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuario" type="tns:IUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUsuario/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuario/ObtenerTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosConElNombre">
      <soap:operation soapAction="http://tempuri.org/IUsuario/ObtenerUsuariosConElNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuariosConElApellido">
      <soap:operation soapAction="http://tempuri.org/IUsuario/ObtenerUsuariosConElApellido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioPorNombreUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/buscarUsuarioPorNombreUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="BasicHttpBinding_IUsuario" binding="tns:BasicHttpBinding_IUsuario">
      <soap:address location="http://localhost:4367/Usuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>