Cliente/ClienteASP/Service References/Oferta/Oferta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModeloWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModeloWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModeloOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloOferta" nillable="true" type="tns:ModeloOferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloOferta" nillable="true" type="tns:ArrayOfModeloOferta" />
  <xs:complexType name="ModeloOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:float" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idOferta" type="xs:double" />
      <xs:element minOccurs="0" name="precio" type="xs:float" />
      <xs:element minOccurs="0" name="producto" nillable="true" type="tns:ModeloProducto" />
      <xs:element minOccurs="0" name="tipoMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tomada" type="xs:boolean" />
      <xs:element minOccurs="0" name="usuarioSubasta" nillable="true" type="tns:ModeloUsuario" />
      <xs:element minOccurs="0" name="vencida" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloOferta" nillable="true" type="tns:ModeloOferta" />
  <xs:complexType name="ModeloProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:ModeloUsuario" />
      <xs:element minOccurs="0" name="cantidad" type="xs:float" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaOferta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimientoOferta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idProducto" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloProducto" nillable="true" type="tns:ModeloProducto" />
  <xs:complexType name="ModeloUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nivelAcceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloUsuario" nillable="true" type="tns:ModeloUsuario" />
</xs:schema>