Cliente/ClienteASP/Service References/Oferta/Oferta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Oferta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4367/Oferta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4367/Oferta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4367/Oferta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOferta_OfrecerOferta_InputMessage">
    <wsdl:part name="parameters" element="tns:OfrecerOferta" />
  </wsdl:message>
  <wsdl:message name="IOferta_OfrecerOferta_OutputMessage">
    <wsdl:part name="parameters" element="tns:OfrecerOfertaResponse" />
  </wsdl:message>
  <wsdl:message name="IOferta_VerMisOfertas_InputMessage">
    <wsdl:part name="parameters" element="tns:VerMisOfertas" />
  </wsdl:message>
  <wsdl:message name="IOferta_VerMisOfertas_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerMisOfertasResponse" />
  </wsdl:message>
  <wsdl:message name="IOferta_VerOfertasDelProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerOfertasDelProducto" />
  </wsdl:message>
  <wsdl:message name="IOferta_VerOfertasDelProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerOfertasDelProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IOferta_EscogerEstasOfertas_InputMessage">
    <wsdl:part name="parameters" element="tns:EscogerEstasOfertas" />
  </wsdl:message>
  <wsdl:message name="IOferta_EscogerEstasOfertas_OutputMessage">
    <wsdl:part name="parameters" element="tns:EscogerEstasOfertasResponse" />
  </wsdl:message>
  <wsdl:portType name="IOferta">
    <wsdl:operation name="OfrecerOferta">
      <wsdl:input wsaw:Action="http://tempuri.org/IOferta/OfrecerOferta" message="tns:IOferta_OfrecerOferta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOferta/OfrecerOfertaResponse" message="tns:IOferta_OfrecerOferta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerMisOfertas">
      <wsdl:input wsaw:Action="http://tempuri.org/IOferta/VerMisOfertas" message="tns:IOferta_VerMisOfertas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOferta/VerMisOfertasResponse" message="tns:IOferta_VerMisOfertas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerOfertasDelProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IOferta/VerOfertasDelProducto" message="tns:IOferta_VerOfertasDelProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOferta/VerOfertasDelProductoResponse" message="tns:IOferta_VerOfertasDelProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EscogerEstasOfertas">
      <wsdl:input wsaw:Action="http://tempuri.org/IOferta/EscogerEstasOfertas" message="tns:IOferta_EscogerEstasOfertas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOferta/EscogerEstasOfertasResponse" message="tns:IOferta_EscogerEstasOfertas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOferta" type="tns:IOferta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OfrecerOferta">
      <soap:operation soapAction="http://tempuri.org/IOferta/OfrecerOferta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerMisOfertas">
      <soap:operation soapAction="http://tempuri.org/IOferta/VerMisOfertas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerOfertasDelProducto">
      <soap:operation soapAction="http://tempuri.org/IOferta/VerOfertasDelProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EscogerEstasOfertas">
      <soap:operation soapAction="http://tempuri.org/IOferta/EscogerEstasOfertas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Oferta">
    <wsdl:port name="BasicHttpBinding_IOferta" binding="tns:BasicHttpBinding_IOferta">
      <soap:address location="http://localhost:4367/Oferta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>