Cliente/ClienteASP/Service References/Oferta/Oferta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4367/Oferta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloWCF" />
  <xs:element name="OfrecerOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cantidad" type="xs:float" />
        <xs:element minOccurs="0" name="precio" type="xs:float" />
        <xs:element minOccurs="0" name="idproducto" type="xs:double" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMoneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfrecerOfertaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerMisOfertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerMisOfertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="VerMisOfertasResult" nillable="true" type="q1:ArrayOfModeloOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerOfertasDelProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProducto" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerOfertasDelProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="VerOfertasDelProductoResult" nillable="true" type="q2:ArrayOfModeloOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscogerEstasOfertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ofertasGanadoras" nillable="true" type="q3:ArrayOfModeloOferta" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ofertasPerdedoras" nillable="true" type="q4:ArrayOfModeloOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EscogerEstasOfertasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>