Cliente/ClienteASP/Service References/Producto/Producto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Producto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4367/Producto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4367/Producto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4367/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProducto_ObtenerTodosProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProductos" />
  </wsdl:message>
  <wsdl:message name="IProducto_ObtenerTodosProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_ObtenerProductosConElNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosConElNombre" />
  </wsdl:message>
  <wsdl:message name="IProducto_ObtenerProductosConElNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosConElNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_registrarproducto_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarproducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_registrarproducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarproductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_eliminarproducto_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarproducto" />
  </wsdl:message>
  <wsdl:message name="IProducto_eliminarproducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarproductoResponse" />
  </wsdl:message>
  <wsdl:message name="IProducto_ObtenerProductosNoEvaluados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosNoEvaluados" />
  </wsdl:message>
  <wsdl:message name="IProducto_ObtenerProductosNoEvaluados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosNoEvaluadosResponse" />
  </wsdl:message>
  <wsdl:portType name="IProducto">
    <wsdl:operation name="ObtenerTodosProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ObtenerTodosProductos" message="tns:IProducto_ObtenerTodosProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ObtenerTodosProductosResponse" message="tns:IProducto_ObtenerTodosProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosConElNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ObtenerProductosConElNombre" message="tns:IProducto_ObtenerProductosConElNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ObtenerProductosConElNombreResponse" message="tns:IProducto_ObtenerProductosConElNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarproducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/registrarproducto" message="tns:IProducto_registrarproducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/registrarproductoResponse" message="tns:IProducto_registrarproducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarproducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/eliminarproducto" message="tns:IProducto_eliminarproducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/eliminarproductoResponse" message="tns:IProducto_eliminarproducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosNoEvaluados">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducto/ObtenerProductosNoEvaluados" message="tns:IProducto_ObtenerProductosNoEvaluados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducto/ObtenerProductosNoEvaluadosResponse" message="tns:IProducto_ObtenerProductosNoEvaluados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProducto" type="tns:IProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTodosProductos">
      <soap:operation soapAction="http://tempuri.org/IProducto/ObtenerTodosProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosConElNombre">
      <soap:operation soapAction="http://tempuri.org/IProducto/ObtenerProductosConElNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarproducto">
      <soap:operation soapAction="http://tempuri.org/IProducto/registrarproducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarproducto">
      <soap:operation soapAction="http://tempuri.org/IProducto/eliminarproducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosNoEvaluados">
      <soap:operation soapAction="http://tempuri.org/IProducto/ObtenerProductosNoEvaluados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Producto">
    <wsdl:port name="BasicHttpBinding_IProducto" binding="tns:BasicHttpBinding_IProducto">
      <soap:address location="http://localhost:4367/Producto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>