Cliente/ClienteASP/Service References/Producto/Producto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4367/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloWCF" />
  <xs:element name="ObtenerTodosProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ObtenerTodosProductosResult" nillable="true" type="q1:ArrayOfModeloProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosConElNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosConElNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ObtenerProductosConElNombreResult" nillable="true" type="q2:ArrayOfModeloProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarproducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechavencimientooferta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreusuariodueno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarproductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarproductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarproducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idproducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarproductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarproductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosNoEvaluados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosNoEvaluadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ObtenerProductosNoEvaluadosResult" nillable="true" type="q3:ArrayOfModeloProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ObtenerProductoPorIdResult" nillable="true" type="q4:ModeloProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>