Cliente/ClienteASP/Service References/Producto/Producto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModeloWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModeloWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModeloProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloProducto" nillable="true" type="tns:ModeloProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloProducto" nillable="true" type="tns:ArrayOfModeloProducto" />
  <xs:complexType name="ModeloProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreUsuarioDueno" nillable="true" type="tns:ModeloUsuario" />
      <xs:element minOccurs="0" name="cantidad" type="xs:float" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaOferta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimientoOferta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloProducto" nillable="true" type="tns:ModeloProducto" />
  <xs:complexType name="ModeloUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nivelAcceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloUsuario" nillable="true" type="tns:ModeloUsuario" />
</xs:schema>