Cliente/ClienteASP/Service References/Producto/Producto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4367/Producto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModeloWCF" />
  <xs:element name="ObtenerTodosProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ObtenerTodosProductosResult" nillable="true" type="q1:ArrayOfModeloProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosConElNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosConElNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModeloWCF" minOccurs="0" name="ObtenerProductosConElNombreResult" nillable="true" type="q2:ArrayOfModeloProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>